.mjk li {
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}

.mjk li:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
	box-shadow: 0 0 50px #fff;
	z-index: 1000;
}